*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
}

nav {
  background-color: rgb(6, 7, 8);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
nav button {
  background-color: blue;
  color: white;
  width: 150px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden; /* Hide the skewed portion */
  transition: transform 0.3s ease; /* Add a transition for a smooth effect */
  transform: skewX(
    -30deg
  ); /* Skew the outer shape of the button horizontally */
}
nav button span {
  display: inline-block;
  transform: skewX(
    30deg
  ); /* Counteract the button's skew to keep text horizontal */
  transition: transform 0.3s ease; /* Add a transition for a smooth effect */
}
nav button:hover {
  background-color: white;
  color: blue;
}
@media screen and (max-width: 700px) {
  nav button {
    width: 100px; /* Adjust the padding for smaller screens */
  }
}

/* Create a container for the main content */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

/* Define styles for the side columns (left and right) */
.side-column {
  flex: 1; /* Allow columns to grow/shrink equally */
  height: 100vh; /* Fill the full height of the viewport */
  background-color: black; /* Set background color */
}

.left {
  order: -1; /* Place left column before the middle column */
}

.right {
  order: 1; /* Place right column after the middle column */
}

/* Define styles for the middle column containing articles */
.middle-column {
  width: 650px;
  background-color: white; /* Set background color */
  padding: 20px; /* Add spacing around articles */
  float: right;
}

@media screen and (max-width: 700px) {
  .middle-column {
    width: 450px;
  }
}

/* Define styles for articles */

.about {
  display: flex;
  align-items: flex-start;
}

.about .left {
  order: -1;
  width: 300px;
}

@media screen and (max-width: 700px) {
  .about .left {
    width: 225px; /* Adjust the size for smaller screens */
  }
}

img {
  max-width: 200px;
  max-height: auto;
}

.about .right {
  order: 1;
  width: 300px;
}

@media screen and (max-width: 700px) {
  .about .right {
    width: 175px; /* Adjust the size for smaller screens */
  }
}

.about h2 {
  font-size: 1.2em;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
}

.resume {
  display: none; /* Hide all articles by default */
  margin-bottom: 20px; /* Add spacing between articles */
}

.projects-list li:has(a,strong){
  list-style-type: none;
  margin-left: -30px;
}

.chess {
  display: none; /* Hide all articles by default */
  margin-bottom: 20px; /* Add spacing between articles */
  text-align: center;
}

.chess figure {
  margin-top: -50px;
}

@media screen and (max-width: 700px) {
  .chess video {
    width: 350px;
  }
  .chess figure {
    margin-top: -90px;
  }
}

.jobly {
  display: none; /* Hide all articles by default */
  margin-bottom: 20px; /* Add spacing between articles */
  text-align: center;
}

.jobly figure {
  margin-top: -50px;
}

@media screen and (max-width: 700px) {
  .jobly video {
    width: 350px;
  }
  .chess figure {
    margin-top: -90px;
  }
}
